///*------------------------------------*\
//    $DEBUG
//\*------------------------------------*/
///**
// * Debug mode will visually highlight any potential markup/accessibility quirks
// * in the browser. Set to `true` or `false`.
// */
$debug-mode:        false;

///*------------------------------------*\
//    $BEAUTONS
//\*------------------------------------*/
///**
// * Set the background colors for beauton button functions.
// */
$beautons: $button-background;
$beautons-positive: $button--positive-background;
$beautons-negative: $button--negative-background;
$beautons-inactive: $button--inactive-background;


///*------------------------------------*\
//    $OBJECTS AND ABSTRACTIONS
//\*------------------------------------*/
///**
// * Which objects and abstractions would you like to use?
// */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         true;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        true;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;

///*------------------------------------*\
//    $LITTLE GLITCH OBJECTS AND ABSTRACTIONS
//\*------------------------------------*/
///**
// * Which objects and abstractions would you like to use?
// */
$use-glitch-beautons:        true;
$use-glitch-block-list:      false;
$use-glitch-accordion:        false;
$use-glitch-figure:          true;
$use-glitch-forms:           true;
$use-glitch-grids:           true;
$use-glitch-icon-text:       false;
$use-glitch-icon-font:       true;
$use-glitch-lightbox:            false;
$use-glitch-list:            true;
$use-glitch-megamenu:        false;
$use-glitch-nav:            true;
$use-glitch-tab:            true;


///*------------------------------------*\
//    $RESPONSIVE
//\*------------------------------------*/
///**
// * Responsiveness?
// */
$glitch-side-gutter: $base-font-size;
$glitch-max-width: 1200px;
$glitch-max-width-full: $glitch-max-width + 2*$glitch-side-gutter;
$glitch-ie-max-width: 1024px;
$glitch-ie-max-width-full: $glitch-ie-max-width + 2*$glitch-side-gutter;
$glitch-responsive:        true;

///**
// * Responsiveness for widescreen/high resolution desktop monitors and beyond?
// * Note: `$glitch-responsive` variable above must be set to true before enabling this.
// */
$glitch-responsive-extra:  false;

///**
// * Responsive push and pull produce a LOT of code, only turn them on if you
// * definitely need them.
// */
$glitch-push:              false;
///**
// * Note: `$glitch-push` variable above must be set to true before enabling these.
// */
$extra-small-push:     false;
$small-push:           false;
$medium-push:          false;
$large-push:           false;
$extra-large-push:     false;

$glitch-pull:        false;

///**
// * Note: `$glitch-pull` variable above must be set to true before enabling these.
// */
$extra-small-pull:   false;
$small-pull:         false;
$medium-pull:        false;
$large-pull:         false;
$extra-large-pull:   false;

///**
// * Tell glitchnz.css when breakpoints start and end.
// */
$extra-small-start:  0;
$extra-small-end:    479px;
$small-start:        ($extra-small-end + 1px);
$small-end:          767px;
$medium-start:       ($small-end + 1px);
$medium-end:         1023px;
$large-start:        ($medium-end + 1px);
$large-end:          1199px;
$extra-large-start:  ($large-end + 1px);


///*------------------------------------*\
//    $FRAMEWORK
//\*------------------------------------*/
///**
// * inuit.css will work these next ones out for use within the framework.
// *
// * Assign our `$base-line-height` to a new spacing var for more transparency.
// */
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: ($base-spacing-unit / 2)!default;
$quarter-spacing-unit: ($base-spacing-unit / 4)!default;
$line-height-ratio: $base-line-height / $base-font-size;
