//SITE SPECIFIC EXTENDS
//Transitions
%transition--all-slow {
	@include transition(all ceaser($easeOutQuint) 1s);
}
%transition--fade-in {
	@include transition(opacity ceaser($easeOutSine) 1s);
}
%transition--fade-in-with-delay {
	@include transition(opacity 1s ceaser($easeOutSine) 1s );
}
%transition--fade-out {
	@include transition(opacity ceaser($easeOutSine) 2s);
}
%transition--bounce-in {
	@include transition(height ceaser($easeInOutBack) 0.5s, opacity ceaser($easeOutSine) 0.1s);
}
//Font Styles
%text--heading {
	font-family: $headings-font-family;
	color: $headings-color;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
}
%text--impact {
	text-transform: uppercase;
}
%text--bare {
	text-transform: none;
}
%text--normal {
	font-style: normal;
}
%text--lightweight {
	font-weight: 300;
}
%text--strong {
	font-weight: 600;
}
%text--heavy {
	font-weight: 700;
}
%text--ornamental {
	font-style: italic;
}
%text--brand {
	font-color: $brand-color;
}
%text--light {
	font-color: $text--light-color;
}
%text--dark {
	font-color: $text--dark-color;
}
%text--grey {
	font-color: $grey;
}

//Rounded Corners
%rounded-corners--top {
	@include border-radius(3px 3px 0 0);
}

//Gradients
%gradient-blue {
	background-color: #2881a6;
	@include background-image(linear-gradient(top,  #2881a7 0%, #2881a7 30%, #afd7df 55%, #afd7df 100%));
}
%gradient-blue--oldie {
	@include filter-gradient(#2881a6, #afd7df, vertical);
}
%gradient-blue-2 {
	background-color: #2881a6;
	@include background-image(linear-gradient(top,  #2881a7 0%, #2881a7 30%, #afdffb 55%, #afdffb 100%));
}

//Borders
%border {
	border: 0 dashed $border-color;
}
%border--dark {
	border: 0 dashed $border--dark-color;
}
%border--light {
	border: 0 dashed $border--light-color;
}
%border--top {
	border-top-width: 2px;
}
%border--bottom {
	border-bottom-width: 2px;
}
%border--right {
	border-right-width: 2px;
}
%border--left {
	border-left-width: 2px;
}
%border--sides {
	border-left-width: 2px;
	border-right-width: 2px;
}
%border--ends {
	border-top-width: 2px;
	border-bottom-width: 2px;
}

//Animations
@-moz-keyframes bounce {
	0%   { height: 0; -moz-animation-timing-function:ease-in;  }
    37%  { height: 17.125em; -moz-animation-timing-function:ease-out; }
    55%  { height: 12.843em; -moz-animation-timing-function:ease-in;  }
    73%  { height: 17.125em; -moz-animation-timing-function:ease-out; }
    82%  { height: 15.926em; -moz-animation-timing-function:ease-in;  }
    91%  { height: 17.125em; -moz-animation-timing-function:ease-out; }
    96%  { height: 16.782em; -moz-animation-timing-function:ease-in;  }
    100% { height: 17.125em; }
}
@-o-keyframes bounce {
	0%   { height: 0; -o-animation-timing-function:ease-in;  }
    37%  { height: 17.125em; -o-animation-timing-function:ease-out; }
    55%  { height: 12.843em; -o-animation-timing-function:ease-in;  }
    73%  { height: 17.125em; -o-animation-timing-function:ease-out; }
    82%  { height: 15.926em; -o-animation-timing-function:ease-in;  }
    91%  { height: 17.125em; -o-animation-timing-function:ease-out; }
    96%  { height: 16.782em; -o-animation-timing-function:ease-in;  }
    100% { height: 17.125em; }
}
@-webkit-keyframes bounce {
	0%   { height: 0; -webkit-animation-timing-function:ease-in;  }
    37%  { height: 17.125em; -webkit-animation-timing-function:ease-out; }
    55%  { height: 12.843em; -webkit-animation-timing-function:ease-in;  }
    73%  { height: 17.125em; -webkit-animation-timing-function:ease-out; }
    82%  { height: 15.926em; -webkit-animation-timing-function:ease-in;  }
    91%  { height: 17.125em; -webkit-animation-timing-function:ease-out; }
    96%  { height: 16.782em; -webkit-animation-timing-function:ease-in;  }
    100% { height: 17.125em; }
}
@keyframes bounce {
	0%   { height: 0; animation-timing-function:ease-in;  }
    37%  { height: 17.125em; animation-timing-function:ease-out; }
    55%  { height: 12.843em; animation-timing-function:ease-in;  }
    73%  { height: 17.125em; animation-timing-function:ease-out; }
    82%  { height: 15.926em; animation-timing-function:ease-in;  }
    91%  { height: 17.125em; animation-timing-function:ease-out; }
    96%  { height: 16.782em; animation-timing-function:ease-in;  }
    100% { height: 17.125em; }
}
