.splash--full {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
.splash--footer {
	position: relative;
	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background-position: center bottom;
		background-size: contain;
		content: '';
	}
	> .wrapper {
		z-index: 2;
	}
}
.splash--reviews {
	background-color: white;
}
.splash--about {
	background-color: white;
}
.splash--trips-and-services {
	@extend %gradient-blue;
	padding-bottom: percentage(500/1600);
	&:before {
		@extend %pseudo-element;
		right: 0;
		top: 0;
		width: 60%;
		padding-bottom: 29%;
		background-size: contain;
	}
	&:after {
		padding-bottom: percentage(700/1600);
	}
}
.splash--island {
	@extend %gradient-blue-2;
}
.splash--sunset {
	background-color: $splash--sunset-background;
	padding-bottom: percentage(300/1600);
	&:after {
		padding-bottom: percentage(487/1600);
	}
}
.splash {
	&,
	&:before,
	&:after {
		background-repeat: no-repeat;
	}
}
.has-overlay:before {
	@extend %pseudo-element;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($overlay--dark-background, 0.6);
}
.has-overlay--dark:before {
	background-color: rgba($overlay--dark-background, 0.8);
}

@include breakpoint($medium-start, $no-query: true){

	.splash--homepage {
		background-image: url('assets/images/interface/splash/homepage.jpg');
	}
	.splash--about {
		background-image: url('assets/images/interface/splash/city.jpg');
	}
	.splash--steve {
		background-image: url('assets/images/interface/splash/city.jpg');
	}
	.splash--reviews {
		background-image: url('assets/images/interface/splash/city.jpg');
	}
	.splash--trips-and-services {
		&:before {
			background-image: url('assets/images/interface/splash/cloud.jpg');
		}
		&:after {
			background-image: url('assets/images/interface/splash/boat.jpg');
		}
	}
	.splash--sunset {
		padding-bottom: percentage(250/1600);
		&:after {
			background-image: url('assets/images/interface/splash/rangitoto.jpg');
		}
	}

	.splash--island {
		padding-bottom: percentage(368/1600);
		&:after {
			padding-bottom: percentage(368/1600);
			background-image: url('assets/images/interface/splash/island.jpg');
		}
	}

}
