/*
## Forms

```
<form>
	<fieldset>
		<legend class="visuallyhidden">Sign up for the Auckland Sea Shuttles newsletter</legend>
		<ol class="form-fields">
			<li>
				<label for="subscribe-name" class="visuallyhidden">Your Name</label>
				<input type="text" class="text-input text-input--small" id="subscribe-name" placeholder="Your Name" required/>
				<span class="error">You must enter a name.</span>
			</li>
			<li>
				<label for="subscribe-email" id="subscribe-email" class="visuallyhidden">Your Email</label>
				<input type="email" class="text-input text-input--small has-error" placeholder="Your Email" required />

				<span class="error">You must enter a valid email address.</span>
			</li>
			<li>
				<label for="contact-message" id="contact-message" class="visuallyhidden">Your Message</label>
				<textarea class="text-input text-input--small" placeholder="Your Message" required ></textarea>
				<span class="error">You must enter a valid message.</span>
			</li>
			<li>
				<button class="btn" type="submit">Submit</button>
			</li>
		</ol>
	</fieldset>
</form>
```

Input text sizes

```
<input type="email" class="text-input" placeholder="Regular input text size" />
<input type="email" class="text-input text-input--small" placeholder="Small input text size" />
```

*/
.no-placeholder .label.visuallyhidden {
	display: block;
	height: auto !important;
	margin: auto !important;
	position: static !important;
	width: auto !important;
}
.label {
	margin-bottom: lg_em( 5px );
	color: $form__label-color;
}
.label--light {
	color: $form__label--light-color;
}
input[type="text"],
input[type="email"],
textarea {
	@extend %transition--all-slow;
	background: $form__input-background;
	color: $form__input-color;
	border: 1px solid $form__input-border;
	padding: lg_em(10px);
	&.has-error {
		background-color: $form__input--error-background;
		border-color: $form__input--error-border;
		color: $form__input--error-color;
	}
	&:focus {
		background-color: $form__input--focus-background;
	}
}
.has-error {
	//Placeholder Text
	&::-webkit-input-placeholder {
		color: $form__placeholder--error-color;
	}
	&:-moz-placeholder {
		color: $form__placeholder--error-color;
	}
	&:-ms-input-placeholder {
		color: $form__placeholder--error-color;
	}
}

input.text-input--small,
textarea.text-input--small {
	@include lg_font-type('milli');
	padding: lg_em(10px, $milli-size);
}

//Form helper class
.form--centered {
	position: relative;
	max-width: lg_em(340px);
	margin: auto;
}

.form__modal {
	@extend %transition--fade-in;
	display: none;
	opacity: 0;
	&.is-fading-in {
		opacity: 1;
	}
	&.is-fading-out {
		@extend %transition--fade-out;
		opacity: 0;
	}
}

.error {
	padding-top: lg_em(5px);
	color: $form--error-color;
	&,
	&.is-hidden {
		display: none;
	}
	&.is-visible {
		display: block;
	}
}
