.main {
	padding: lg_em(64px) 0 lg_em(110px);
	background-color: $main-background;
}
.wrapper {
	z-index: 3;
}
.layout--grid {
	margin-left: lg_em(-70px);
	.grid__item {
		position: relative;
		overflow: hidden;
		width: 100%;
		margin-bottom: lg_em(40px);
		padding-top: lg_em(44px);
		padding-left: lg_em(70px);
		&:before {
			@extend %pseudo-element;
			@extend %border;
			@extend %border--dark;
			@extend %border--top;
			top: 0;
			left: 0;
			height: 1px;
			width: 100%;
			margin-left: lg_em(70px);
		}
		&:first-child {
			padding-top: 0;
			&:before {
				border: none;
			}
		}
	}
}

.layout--masonry__container {
	max-width: lg_em(960px);
	// padding: 0 lg_em(60px);
	margin: auto;
}

@include breakpoint(600px, $no-query: true){

	.main {
		padding-top: lg_em(110px);
	}

	.layout--grid {
		> .grid__item {
			width: 50%;
			padding-top: 0;
			&:before {
				left: lg_em(35px);
				height: 100%;
				width: auto;
				margin-left: 0;
				border-top-width: 0;
				border-left-width: 2px;
			}
			&:nth-of-type(2n+1) {
				clear: left;
				&:before {
					border-left-width: 0;
				}
			}
		}
	}

}

@include breakpoint(660px, $no-query: true){

	.layout--masonry {
		margin-left: lg_em(-40px);
		> li {
			width: 50%;
			padding-left: lg_em(40px);
		}
	}

}

@include breakpoint(860px, $no-query: true){

	.layout--grid {
		> .grid__item {
			width: 33.33333%;
			&:nth-of-type(2n+1) {
				clear: none;
				&:before {
					border-left-width: 2px;
				}
			}
			&:nth-of-type(3n+1) {
				clear: left;
				&:before {
					border-left-width: 0;
				}
			}
		}
	}

}

@include breakpoint(960px, $no-query: true){

	.layout--masonry {
		> li {
			width: 33.3333%;
		}
	}

	.layout--masonry__container {
		padding: 0;
	}

}
