.contact__icons > li {
	margin-left: lg_em(30px);
	&:first-child {
		margin-left: 0;
	}
}

@include breakpoint( '1024px', $no-query: true ) {

	.contact .grid__item {
		margin-top: lg_em(50px);
	}
	.contact .grid .grid__item:first-child {
		border-right: 2px dashed $border--light-color;
	}
	.contact__content {
		margin-left: lg_em(170px);
		padding-right: lg_em(35px);
	}
	.contact__content--right {
		padding-left: 0;
		padding-right: lg_em(130px);
	}
}
