/*

##Header

```
<div class="header">
	<div class="wrapper">
		<ul class="nav header__primary is-expanded">
			<li class="header__icon-container">
				<button class="header__icon">
					<span class="visuallyhidden">Toggle Navigation</span>
				</button>
			</li>
			<li class="header__home-container">
				<a href="#" class="header__link--home">
					<span class="visuallyhidden">Home</span>
					<span aria-hidden="true" class="iconf-logo iconf--large"></span>
				</a>
			</li>
			<li class="header__primary-main is-first"><a href="#" class="header__link">Trips &amp; Services</a></li>
			<li class="header__primary-main"><a href="#" class="header__link">Destinations</a></li>
			<li class="header__primary-main"><a href="#" class="header__link">About</a></li>
			<li class="header__primary-main"><a href="#" class="header__link">Contact Us</a></li>
			<li class="header__cta--call">
				<span class="micro text--impact text--heavy">Call us on</span>
				<span class="gamma text--heavy">123 679 123</span>
			</li>
			<li class="header__cta--book">
				<a class="btn delta" href="">Book Now</a>
			</li>
		</ul>
		<ul class="nav header__widgets">
			<li>
				<button class="btn--bare">
					<span class="visuallyhidden">Show Latest Tweet</span>
					<span aria-hidden="true" class="iconf-twitter iconf--light"></span>
				</button>
			</li>
			<li>
				<span class="btn--bare iconf__container iconf__container--small">
					<span class="visuallyhidden">Show Weather Forecast</span>
					<span aria-hidden="true" class="iconf-cloudy-3 iconf--small"></span>
				</span>
			</li>
		</ul>
	</div>
</div>
```
*/
.header {
	@include pie-clearfix;
	position: relative;
	z-index: 4;
	background: $header-background;
}
.header__icon-container {
	float: left;
	height: lg_em(60px);
	width: lg_em(60px);
	padding: lg_em(17px) lg_em(17px) lg_em(17px) 0;
}
.header__home-container {
	position: absolute;
	left: 45%;
}
.header__icon {
	width: 25px;
	height: 25px;
	display: block;
	margin: 0;
	background: transparent;
	border: none;
	border-top: 15px double #fff;
	border-bottom: 5px solid #fff;
}
.header__primary {
	margin-bottom: 0;
	> li {
		vertical-align: middle;
	}
	.iconf-logo {
		color: $header__icon-color;
	}
	> .header__primary-main {
		display: none;
		padding: lg_em(10px) 0;
		border-bottom: 1px dashed $header-border;
		&.is-first {
			border-top: 1px dashed $header-border;
		}
	}
	&.is-expanded {
		> .header__primary-main {
			display: block;
			clear: both;
		}
	}
}
.header__link {
	@extend %text--heading;
	font-size: lg_em($h4-size);
	text-align: center;
	&:visited {
		color: $header__link-color;
	}
	&:hover {
		color: $header__link--hover-color;
		text-decoration: none;
	}
	&.is-selected {
		color: $header__link--selected-color;
	}
}
.header__link--home {
	position: relative;
	text-align: center;
	&:hover {
		text-decoration: none;
		.iconf-logo {
			color: $header__icon--hover-color;
		}
	}
	.iconf-logo {
		@extend %transition--all;
		display: block;
	}
}
.header__cta--call {
	margin-top: lg_em(10px);
	clear: both;
	> .btn {
		display: block;
	}
}
.header__cta--book {
	margin-top: lg_em(10px);
	> .btn {
		display: none;
		// display: block;
		text-align: center;
	}
}
.header__widgets {
	position: absolute;
	top: 0.5em;
	right: 1em;
	> li {
		margin-left: lg_em(10px);
		vertical-align: top;
	}
}

@include breakpoint(600px, $no-query: true){

	.header__cta--call,
	.header__cta--book {
		float: left;
		width: 50%;
		margin-top: lg_em(5px);
	}

	.header__cta--call {
		//Remove when book button is back
		width: 100%;
		.btn {
			font-weight: 300;
			font-style: normal;
		}
	}
	//Remove when book button is back
	.header__cta--book {
		margin: 0;
	}

}

@include breakpoint(780px, $no-query: true){

	.header__primary {
		&.is-expanded > .header__primary-main,
		> .header__primary-main {
			display: table-cell;
			float: left;
			clear: none;
			width: 22.5%;
			padding: lg_em(15px) 0 0;
			border: none;
			text-align: center;
			&.is-first {
				border-top: none;
			}
		}
		&.is-expanded > .header__primary-main {
			clear: none;
		}
		&.is-expanded > .header__icon-container,
		.header__icon-container {
			display: none;
		}
		.header__cta--call,
		.header__cta--book {
			display: table-cell;
		}
	}
	.header__home-container {
		position: static;
		left: auto;
		float: left;
		width: 10%;
	}
	.header__link {
		display: block;
		font-size: lg_em($milli-size);
	}

	.header__widgets {
		top: 100%;
		margin-top: lg_em(15px);
	}


}
@include breakpoint(960px, $no-query: true){

	.header__primary {
		&,
		&.is-expanded {
			@include lg_nav('fit');
			> .header__primary-main,
			> .header__cta--call,
			> .header__cta--book {
				width: auto;
				float: none;
				clear: none;
			}
			> .header__primary-main {
				padding: 0;
			}
		}
		.header__icon-container {
			display: none;
		}
		.header__cta--call,
		.header__cta--book {
			display: table-cell !important;
		}
		.header__cta--book {
			display: none !important;
		}
	}
	.header__cta--call,
	.header__cta--book {
		width: 15%;
	}

	.header__widgets {
		left: auto;
		right: 1em;
	}
	.header__home-container {
		float: none;
	}

}

@include breakpoint(1100px, $no-query: true){
	.header__cta--book > .btn {
		font-size: lg_em($h4-size);
		padding: lg_em(10px, $h4-size) 0;
	}
	.header__cta--call > .btn {
		padding: lg_em(13px) 0;
	}
	.header__link {
		font-size: lg_em($h4-size);
	}
}

