/*
## Modal

Used for twitter and weather pod

```
<div class="modal">
	<div class="modal__body">
		<p>Dummy Content</p>
	</div>
	<button class="modal__close">
		<span class="visuallyhidden">Close Window</span>
		<span aria-hidden="true" class="iconf-close iconf--light iconf--small"></span>
	</button>
</div>
```

Dark Modal
```
<div class="modal modal--dark">
	<div class="modal__body">
		<p>Dummy Content</p>
	</div>
	<button class="modal__close">
		<span class="visuallyhidden">Close Window</span>
		<span aria-hidden="true" class="iconf-close iconf--light iconf--small"></span>
	</button>
</div>
```

Full Modal
```
<div class="modal modal--full">
	<div class="modal__body">
		<p>Dummy Content</p>
	</div>
	<button class="modal__close">
		<span class="visuallyhidden">Close Window</span>
		<span aria-hidden="true" class="iconf-close iconf--light iconf--small"></span>
	</button>
</div>
```
*/

.modal {
	position: absolute;
	padding: lg_em(20px);
	background-color: $modal-background;
	color: $modal-color;
	&.is-animatable {
		min-height: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		opacity: 0;
		> .modal__body {
			opacity: 0;
		}
		&.is-closing,
		&.is-visible {
		}
		&.is-visible {
			@include animation( bounce 0.5s );
			opacity: 1;
			> .modal__body {
				@include transition(opacity 0.5s ceaser($easeOutSine) 0.2s );
				opacity: 1;
			}
		}

		&.is-closing {
			@include transition(height 0.5s ceaser($easeInOutBack), opacity 0.1s ceaser($easeOutSine) 0.4s );
			> .modal__body {
				@include transition(opacity 0.4s ceaser($easeOutSine) );
			}
		}
	}
	&[class*="arrow-"] {
		position: absolute;
		// &:before,
		// &:after {
		// 	display: none;
		// }
		> .wrapper {
			&:before,
			&:after {
				top: lg_em(-37px);
			}
		}
	}
	&.arrow-top {
		@include arrow(top, right, $modal-background);
	}
	&.arrow-one-center,
    &.arrow-three-center {
		> .wrapper {
			@include arrow(top, center, $modal--dark-background);
		}
	}
	&.arrow-two-left,
    &.arrow-three-left {
		> .wrapper {
			@include arrow(top, left, $modal--dark-background);
		}
	}
	&.arrow-two-right,
    &.arrow-three-right	{
		> .wrapper {
			@include arrow(top, right, $modal--dark-background);
		}
	}
}
.modal--dark {
	background: $modal--dark-background;
	color: $modal--dark-color;
	&:before {
		border-color: $modal--dark-background;
	}
}
.modal--full {
	width: 100%;
}
.modal--tall {
	height: 100%;
}
.modal--fill {
	height: 100%;
	width: 100%;
}
.modal__body {
	> p:last-child {
		margin-bottom: 0;
	}
}
.modal__heading {
	color: $modal-color;
}
.modal__close {
	@include transition(transform 200ms);
	position: absolute;
	top: lg_em(10px);
	right: lg_em(10px);
	padding: 0;
	background: transparent;
	border: none;
	&:hover {
		@include transform(rotate(-110deg));
	}
}

.modal--inline {
	position: absolute;
	left: 0;
	top: 1050px;
	z-index: 9999;
	display: none;
	width: 100%;
	&[class*="arrow-"] > .wrapper {
		@extend %transition--all;
		border-bottom-color: $modal--dark-background;
	}
	&.arrow-two-left > .wrapper {
		&:before,
		&:after {
			left: 25%;
		}
	}
	&.arrow-two-right > .wrapper {
		&:before,
	    &:after {
			right: 25%;
		}
	}
	&.arrow-three-left > .wrapper {
		&:before,
		&:after {
			left: 20%;
		}
	}
	&.arrow-three-right > .wrapper {
		&:before,
	    &:after {
			right: 20%;
		}
	}
	.modal__body {
		padding: lg_em(20px) 0;
	}
	h2 {
		margin-bottom: lg_em(30px, $h2-size);
		margin-right: lg_em(30px, $h2-size);
	}
}

