/*
## Split List

Simple split item for creating two elements floated away from one another. Presents options to the user.

```
<ul class="split-list">
	<li>
		<span class="split-list__header">Auckland &mdash; Waiheke / Rakino</span>
		<span class="split-list__body">
			Return: <strong>$75</strong> pp<br />
			One way: <strong>$45</strong> pp
		</span>
	</li>
	<li>
		<span class="split-list__header">Auckland &mdash; Rangitoto / Stanley Point</span>
		<span class="split-list__body">
			Return: <strong>$75</strong> pp<br />
			One way: <strong>$45</strong> pp
		</span>
	</li>
</ul>
```
*/
.split-list {
	@extend .nav;
	@extend .nav--stacked;
	border-bottom: 1px solid $border-color;
	> li {
		position: relative;
		padding: lg_em(20px, $h4-size) 0;
		border-top: 1px solid $border-color;
	}
}
.split-list__header,
.split-list__body {
	@include lg_font-type('delta');
	display: block;
}
.split-list__header {
	margin-bottom: lg_em( 10px, $h4-size );
}

@include breakpoint( '550px', $no-query: true ) {

	.split-list > li {
		overflow: hidden;
	}
	.split-list__header {
		float: left;
		max-width: 60%;
		margin-bottom: 0;
	}
	.split-list__body {
		float: right;
		max-width: 40%;
	}

}

@include breakpoint( '1000px', $no-query: false ) {

	.split-list__header {
		float: none;
		max-width: none;
		margin-bottom: lg_em(10px, $h4-size);
	}
	.split-list__body {
		float: none;
		max-width: none;
	}

}

@include breakpoint( '1250px', $no-query: true ) {

	.split-list__header {
		float: left;
		max-width: 60%;
		margin-bottom: 0;
	}
	.split-list__body {
		float: right;
		max-width: 40%;
	}

}

