/*
## Tabs

```
<div class="tab js-tabbery">
	<ul class="tab__menu js-tabbery__menu">
		<li><a href="#tab-1" class="tab__btn is-selected js-tabbery__btn">Tab 1</a></li>
		<li><a href="#tab-2" class="tab__btn js-tabbery__btn">Tab 2</a></li>
	</ul>
	<ul class="tab__body js-tabbery__body">
		<li class="is-selected" id="tab-1">
			<p>Tab 1 Content</p>
		</li>
		<li id="tab-2">
			<p>Tab 2 Content</p>
		</li>
	</ul>
</div>
```
*/

.tab {
	position: relative;
	@include perspective(800px);
}
.tab__menu {
	display: none;
	> li {
		margin-right: lg_em(10px);
		> a {
			padding: lg_em(10px) lg_em(15px);
		}
	}
}
.tab__body > li {
	display: block;
}
.tab__btn {
	@extend %transition--all;
	@extend %rounded-corners--top;
	@extend %text--heavy;
	background-color: $tab__btn-background;
	color: $tab__btn-color;
	border: 1px solid $tab__btn-background;
	border-bottom: none;
	&:visited {
		color: $tab__btn-color;
	}
	&:hover {
		text-decoration: none;
		background-color: $tab__btn--hover-background;
		border-color: $tab__btn--hover-background;
		color: $tab__btn--hover-color;
	}
	&.is-selected {
		position: relative;
		z-index: 2;
		bottom: lg_em(-1px);
		background-color: $tab__btn--selected-background;
		color: $tab__btn--selected-color;
		border-color: $border-color;
		cursor: default;
	}
}

@include breakpoint(500px, $no-query: true) {

	.tab__heading {
		display: none;
	}
	.tab__menu {
		display: block;
	}

	.tab__body {
		@include transform-style(preserve-3d);
		@include transition(transform 1s);
		position: absolute;
		width: 100%;
		&.is-flipped {
			@include transform(rotateY( 180deg ));
		}
		> li {
			@include backface-visibility(hidden);
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	#to-auckland {
		@include transform(rotateY( 180deg ));
	}

	.no-csstransforms3d {
		.tab__body {
			position: relative;
			> li {
				position: relative;
				display: none;
				&.is-selected {
					display: block;
				}
			}
		}
	}

}
