/*
## Weather

```
<div class="modal weather arrow-top">
	<div class="modal__body">
		<h4 class="modal__heading epsilon text--bare text--normal text--strong">Today <span class="text--lightweight">28th August</span></h4>
		<span class="weather__summary">
			<span class="visuallyhidden">Sunny</span>
			<span aria-hidden="true" class="iconf-sun"></span>
		</span>
		<dl class="weather__forecast">
			<dt class="weather__meta weather__meta--left">High</dt>
			<dd class="weather__data gamma text--error">16&deg;C</dd>
			<dt class="weather__meta weather__meta--right">Overnight</dt>
			<dd class="weather__data gamma text--highlight">7&deg;C</dd>
			<dt class="weather__meta">Wind Speed/Direction</dt>
			<dd class="weather__data">NE 13 knots</dd>
			<dt class="weather__meta weather__meta--important">Best days on the water this week</dt>
			<dd class="weather__data">Mon, Wed &amp; Fri</dd>
		<dl>
	</div>
	<button class="modal__close">
		<span class="visuallyhidden">Close Window</span>
		<span aria-hidden="true" class="iconf-close iconf--light iconf--small"></span>
	</button>
</div>
```

*/

.weather {
	width: lg_em(215px);
	right: 0;
	top: 135%;
	&.is-visible {
		height: lg_em(274px);
		padding-top: lg_em(20px);
		padding-bottom: lg_em(20px);
	}
	&.is-closing {
		padding-top: lg_em(20px);
		padding-bottom: lg_em(20px);
	}
	> .modal__body {
		overflow: hidden;
		opacity: 0;
	}
	.modal__heading {
		float: left;
		margin-bottom: 0;
		> span {
			display: block;
		}
	}
}
.weather__summary {
	float: left;
	margin-left: lg_em(15px);
}
.weather__forecast {
	clear: both;
}
.weather__meta {
	@extend %text--lightweight;
	@include lg_font-type('micro');
	clear: both;
	position: relative;
	bottom:lg_em(-40px, $micro-size);
	color: $weather__meta-color;
}
.weather__meta--left,
.weather__meta--right {
	&,
	+ .weather__data {
		display: block;
		width: 50%;
	}
	+ .weather__data {
		float: left;
	}
}
.weather__meta--left {
	float: left;
	&,
	+ .weather__data {
		clear: left;
	}
}
.weather__meta--right {
	bottom: lg_em(-27px, $micro-size);
	&,
	+ .weather__data {
		float: right;
		clear: right;
	}
	+ .weather__data {
		position: relative;
		top: lg_em(-16px, $h3-size);
	}
}
.weather__data {
	@extend %text--strong;
	margin-left: 0;
}
.weather__meta--important {
	position: static;
	margin-top: lg_em(35px, $micro-size);
	color: $weather__meta--important-color;
	text-transform: uppercase;
}

